.cartographers {
  max-width: 480px;
  margin: 0 auto;
}

.map {
  display: grid;
  grid-template-columns: repeat(11, 40px);
  grid-template-rows: repeat(11, 40px);
  grid-auto-flow: row;
  grid-gap: 4px;
}
