body {
  background-color: #D6C6B9;
  font-family: 'Averia Serif Libre', cursive;
  color: #3F3233;
}

.cartographers {
  max-width: 448px;
  margin: 0 auto;
}

.cartographers__header {
  max-width: 180px;
  margin: 12px auto;
}

.cartographers__logo {
  font-weight: bold;
  font-size: 20px;
}

.cartographers__subtitle {
  text-align: center;
}

.cartographers__map {
  display: grid;
  grid-template-columns: repeat(11, 9%);
  grid-template-rows: repeat(11, 38px);
  grid-auto-flow: row;
  grid-gap: 0px;
}

.cartographers__tile {
  border-right: #A29E97 1px dashed;
  border-bottom: #A29E97 1px dashed;
}

.cartographers__tile:nth-child(11n) {
  border-right: #A29E97 4px solid;
}

.cartographers__tile:nth-child(11n+1) {
  border-left: #A29E97 4px solid;
}

.cartographers__tile:nth-last-child(-n+11) {
  border-bottom: #A29E97 4px solid;
}

.cartographers__tile:nth-child(-n+11) {
  border-top: #A29E97 4px solid;
}

.cartographers__tile--wasteland {
  background-color: #A6988E;
  border: none;
}

.cartographers__tile--ruin {
  text-align: center;
  padding-top: 2px;
}

.cartographers__tile--mountain {
  background-color: #482112;
  text-align: center;
  padding-top: 2px;
}

.cartographers__button-wrapper {
  max-width: 200px;
  margin: 12px auto;
}

.cartographers__button {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 16px;
  padding: 0.35em 1.2em;
  border: 0.1em solid #A29E97;
  background-color: #e4d9d0;
  box-sizing: border-box;
  text-decoration: none;
}

.cartographers__button:focus {
  outline: 1px solid #431a0e;
}

.cartographers__footer {
  text-align: center;
	margin: 10px auto;
}

.cartographers__footer-link {
  display: inline-block;
  padding: 0 0 10px 0;
  text-decoration: none;
  color: #482112;
}

@media only screen and (max-device-width: 480px) {
  .cartographers__footer {
    display: none;
  }
}